<h1>Editing location</h1>

<%= render "form", location: @location %> <!-- prikazivanje form elementa-->

<br>

<div>
  <%= link_to "Show this location", @location %> | <!-- gumbi za navigacije-->
  <%= link_to "Back to locations", locations_path %>
</div>
