<h1>Locations</h1>

<%= link_to "New location", new_location_path, class:"btn btn-dark" %>

<p>
  
</p>

<div id="locations">
  <% @locations.each do |location| %>
  <div class="mb-4 p-5 bg-info text-white rounded">
    <%= link_to location.address, location, class:"btn btn-info btn-xl" %>
  </div>
  <% end %>
</div>